* {
  margin: 0px;
  padding: 0px;
}
h1 {
  font: bold 20px verdana, sans-serif;
}
h2 {
  font: bold 14px verdana, sans-serif;
}


#agrupar{
   height: 240px;
   width: 1300px;
   border:1px solid #ABA5A5;
   margin:3px;
   padding: 10px;
   margin:auto;
}
#cabecera{
  height: 60px;
  border:1px solid #ABA5A5;
  background-color: #EEFF90;
  display: flex;
  align-items: center;
  padding-left:20px;

}
#menu{
  margin:auto;
  height: 30px;
  border:1px solid #ABA5A5 ;
  background-color: #CAC5C5;
}
#menu li{
  display:inline-block;
  padding: 5px;
  font: bold 14px verdana, sans-serif;
}

#seccion{
   float:left;
   height:20px;
   width: 920px;
   margin-top:20px;
   margin-bottom: 40px;
   margin-right: 20px;
   margin-left: 20px;
   background-color: #B3A9A9;

}
#columna{
   float:right;
   height: 40px;
   width: 300px;
   margin-top:20px;
   margin-bottom: 20px;
   margin-right: 20px;
   margin-left: 20px;
   background-color: #E6E4E4;
}